// Colors
$color-bg-dark: #191919;
$color-text-dark: #eee;
$color-secondary-dark: #222222;
$color-bg-light: #f0f0f0;
$color-text-light: #444;
$color-secondary-light: #f9f9f9;
// $color3: #333333;
// $color4: #404040;
// $color6: #616161;

// Font size
$text-mobile: 14px;
$text-tablet: 16px;
$text-desktop: 18px;

$title-modile: 20px;
$title-tablet: 28px;
$title-desktop: 36px;
